<div class="mesages-borderd">
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <div class="message-top">
          <% if current_user == message.user %>
            <span id="current-author-name"><%= message.user.first_name %></span>
          <% else %>
            <span id="author-name"><%= message.user.first_name %></span>
          <% end %>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </div>  
    </i>
    <p><%= message.content %></p>
  </div>
</div>