<div class="container p-4">
  <h3>Forgot your password?</h3>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs mt-4">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Reset password", class: "btn-success" %>
    </div>
  <% end %>
  <div>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
