<div>
  <p>Hello <%= current_user.first_name %></p>
</div>
<div>
  <p><%= link_to "My profile", profile_path %></p>
  <p><%= link_to "About us", about_path %></p>
  <p><%= link_to "Contact us", contact_path %></p>
  <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
</div>

<div>
<h3>Join chatrooms</h3>
<% @sporttypes.each do |sport| %>
  <%= link_to sport.name, chatroom_path(sport.chatroom), class: "button btn btn-primary mt-1 w-100" %>
  <% end %>
</div>

