 <div id="cover-video">
 <%= video_tag "cover_video", autoplay: :autoplay, loop: :loop, muted: :muted, class: 'banner', crop: :fill %>
  <div>

  <div class="container">
      <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><strong>Equ</strong>Spot</h5>
            <p class="card-text mt-3">Find all the free outdoor activities available near you.</p>
            <%= link_to "Search by sport category", places_path, class: "button btn btn-primary mt-1 w-100" %>
        </div>
      </div>
  </div>
</div>

<div class= "container">
  <div id="about-txt">
    <p>On EquSpot, you can find all the free outdoor activities available near you.
    You can select one particular sport or activity and search or
    just explore through the map.</p>
  </div>
</div>

<div id="background_home">
  <div class= "container">
    <div id="map"
      style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div>
<ol>
  <% Place.where.not(visits_count: nil).order("visits_count desc").limit(10).each do |place| %>
  <li><%= place.name %>//<%= place.visits_count %></li>
  <% end %>
</ol>

</div>


