<div class="container p-4 mt-3">
  <h3 class="p-2 ml-2 mb-3">Add a playground</h3>
  <div class="p-2 mb-0">
    <%= simple_form_for(@place, remote:true) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="mb-0" id="messages-bordered-b">
        <div class="p-1">
          <%= f.input :name, as: :text, input_html: {rows: 2}, placeholder: 'Name of the spot', label:false %>
        </div>
        <div class="p-1">
          <%= f.input :description, as: :text, input_html: {rows: 5}, placeholder: 'Enter a short description of the spot', label:false %>
        </div>

        <div class="p-1">
          <%= f.input :address, as: :text, input_html: {rows: 2}, placeholder: 'Edelweissweg 10, Munich', label:false %>
        </div>
      </div>

      <br>

      <div class="mt-3 p-2">
        <%= f.input :photos, as: :file, hint: '* Add 2 or more photos', input_html: { multiple: true }, label:false %>
      </div>

      <div class="p-3">
        <%= f.association :sport_types, as: :check_boxes %>
      </div>

      <div class="mt-2 p-2 btn btn-outline-primary w-100" id="messages-bordered-b">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
