<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @place.photos.each_with_index do |photo, index| %>
    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
      <%= cl_image_tag photo.key, class: "d-block w-100", width: 400, height: 300, fit: :fill_pad %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div>


    <p id="weather" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>" data-name="<%= @place.name %>" data-apikey="<%=ENV['WEATHER_API_KEY']%>"></p>

    <h2><%= @place.name %></h2>

    <p><%= @place.address %></p>
    <p><%= @place.description %></p>
    <ul>
    <% @place.comments.each do |comment| %>
      <li class="list-group-item"><%= comment.content %> <%= link_to 'Remove',
          comment_path(comment),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %></li>
    <% end %>
  </ul>
    <%# <%= @place.rating %>
  </div>

  <p><%= link_to "Edit", edit_place_path %></p>

  <p><%= link_to 'Leave a comment', new_place_comment_path(@place) %></p>

</div>


  <div class="flex-center mt-4">
    <div class="counter">
      <span><%= @visits_count %></span>
      <p>people have visited <%= @place.name %> in the past <%=time_ago_in_words(180.minutes.ago) %></p>
      <%= link_to 'Check-In', place_visits_path(@place), method: :post%>
    </div>
  </div>
  <div class="flex-center mt-4">
    <div class="counter2">
      <span><%= @likes_count %></span>
      <p>people have liked <%= @place.name %></p>
      <%= link_to 'Like', place_likes_path(@place), method: :post%>
    </div>
  </div>
  <%= link_to 'Add to favourites', place_favourites_path(@place), method: :post, params: { "favourite[place_id]" =>  @place.id } %>

