<div class="container">

  <div>

    <h2><%= @place.name %></h2>

    <% @place.photos.each do |photo| %>
      <%= cl_image_tag photo.key, width: 400, height: 300, fit: :fill %>
    <% end %>

    <p><%= @place.address %></p>
    <p><%= @place.description %></p>

    <%# <%= @place.rating %>
  </div>

  <p><%= link_to "Edit", edit_place_path %></p>

  <p><%= link_to 'Leave a comment', new_place_comment_path(@place) %></p>
</div>
<ul class="list-group">
  <% @place.comments.each do |comment| %>
  <li class="list-group-item"><%= comment.content %></li>
  <% end %>
</ul>

  <div class="flex-center mt-4">
    <div class="counter">
      <span><%= @visits_count %></span>
      <p>people have visited <%= @place.name %> in the past <%=time_ago_in_words(180.minutes.ago) %></p>
      <%= link_to 'Check-In', place_visits_path(@place), method: :post%>
    </div>
  </div>

  <%= link_to 'Add to favourites', place_favourites_path(@place), method: :post, params: { "favourite[place_id]" =>  @place.id } %>
</div>
