<div class="weather-buffer">
  <div class="weather">
    <div class="container">
      <p id="weather-item" data-latitude="<%= @place.latitude %>" data-longitude="<%= @place.longitude %>" data-name="<%= @place.name %>" data-apikey="<%=ENV['WEATHER_API_KEY']%>"></p>
    </div>
  </div>
</div>

<div class="parent-show" id="show-img" style="background-image: url('<%= cl_image_path @place.photos.first.key, crop: :fit %>');">
  <div class="container"> 
          <div class="card mb-3" id="show-card">
            <div class="card-body">
              <div id="show-card-top">
                <h5><%= @place.name %></h5>
                <%= link_to place_favourites_path(@place), method: :post, params: { "favourite[place_id]" =>  @place.id } do %>
                  <% if current_user.favourites.find_by(place: @place).present? %>
                    <i class="fillcrown fas fa-crown"></i>
                  <% else %>
                    <i class="emptycrown fas fa-crown"></i>
                  <% end %>
                <% end %>
              </div>
              <div id="place-description">
                <p><%= @place.description %></p>
              </div>
              <div id="show-card-bottom">
                <div>
                  <i class="fas fa-users mr-1"></i>
                  <em><%= @busyness%></em>
                </div>  
                <div>
                  <%= link_to place_visits_path(@place), method: :post do %>
                    <i class="far fa-check-square fa-lg mb-1"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

<div class="container">


  <div id="place-edit">
    <% if @place.user == current_user %>
      <div>
        <em>You created this place<em>
      </div> 
      <div id="place-edit-btn">
        <%=  link_to edit_place_path(@place)do %>
          <i class="fas fa-pen fa-lg"></i>
        <% end %>
      </div>  
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height: 180px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  
  <div id="review-show">
    <h5>Recent reviews</h5>
    <% @place.reviews.order(created_at: :desc).limit(3).each do |review| %>
      <div id="show-flex">
        <div id="show-rating">
          <select data-rating= <%= review.rating %> data-id= <%= review.id %> name="" class="review-rating" id= <%= "review-#{review.id}" %> >
            <option value="">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
           <%= review.content %>
        </div>
        <div id="show-bucket">
          <%= link_to review_path(review),

            method: :delete,
            data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
  <div id="btn-show-end">
    <%= link_to 'Leave a review', new_place_review_path(@place), class: "btn btn-primary w-100" %></p>
    <%= link_to "Chat", chatroom_path(@place.sport_types.first.chatroom), class: "btn btn-primary w-100" %>
  </div>
</div>